In [4]:
import pandas as pd

In [8]:
s = pd.Series(['a_b_c','d_e_f','g_h_i'], dtype="string")

TypeError: data type 'string' not understood

**Change letters to uppercase**

In [7]:
s.str.upper()

NameError: name 's' is not defined

**The elements of a Series can be concatenated**

In [7]:
s.str.cat(sep=',')

'a_b_c,d_e_f,g_h_i'

**Split and returns a Series of lists**

In [4]:
s.str.split('_')

0    [a, b, c]
1    [d, e, f]
2    [g, h, i]
dtype: object

**Elements in the lists can be accessed using get or [] notation**

In [5]:
s.str.split('_').str[1]

0    b
1    e
2    h
dtype: object

**The split can be expanded to return a DataFrame**

In [6]:
s.str.split('_', expand = True)

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i

**[] notation can be used to access index locations**

In [8]:
s.str[2:]

0    b_c
1    e_f
2    h_i
dtype: string