In [1]:
import pandas as pd
df = pd.read_csv('gym.csv',sep=';',parse_dates=['date'])

In [2]:
df.loc[(df['id']%100 == 13) & (df['age'] > 49),['id','name','weight','height','age']]

         id              name  weight  height  age
2   1158813     Joana Freitas      42     150   52
39  1177213  Catarina Pereira      88     175   54